.ball {
  width: 25px; 
  height: 25px;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 50%;
  position: absolute;  /* Ensure the ball is positioned correctly */
  cursor: grab; /* Change cursor to indicate draggable */
}

.ball:active {
  cursor: grabbing; /* Change cursor when dragging */
}

.ball-image {
  width: 25px; /* Justera storlek som önskat */
  height: auto; /* Behåll proportionerna */
  max-width: none; /* Se till att det inte finns en max bredd */
  max-height: none; /* Se till att det inte finns en max höjd */
}